.Runway {
  position: relative;
  width: 600px;
  height: 600px;

  .img {
    // width: 100%;
    width: 600px;
    height: 600px;
  }

  .select {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
  }
}
