$line: 2px solid rgba(0, 0, 0, .03);

.ChatBox {
  .container {
    width: 340px;
    // height: 500px;
    background-color: #fff;

    &.closed {
      left: 200px;
      top: 100px;

      box-shadow: 0 0 20px 32px rgba(0, 0, 0, 0.03);
      border-radius: 14px;
      overflow: hidden;
      position: fixed;
      z-index: 1000;
    }

    .chatContent {
      padding: 8px 8px 0 8px;

      .header {
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        border-bottom: $line;
        
        .title {
          font-size: 14px;
          font-weight: 500;
          color: #000;
          opacity: 0.9;
        }

        .right {
          display: flex;
          align-items: center;
          gap: 20px;
          margin: 0;
        }
      }

      .body {
        height: 440px;
        max-height: 330px;
        overflow: auto;
        padding: 10px;

        .chat {
          display: flex;
          flex-direction: column;
          gap: 25px;
          padding: 20px 0 20px;
        }
      }

      .footer {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        border-top: $line;

        .input {
          border: none;
          outline: none;
          margin: 0 10px 0 0;
          flex: 1;
        }

        .btns {
          display: flex;
          align-items: center;
          gap: 10px;

          .btn {
            cursor: pointer;

            img {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }

    .dragger {
      background-color: var(--color-primary, #252dd0);
      height: 15px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      cursor: pointer;

      .draggerCircle {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #fff;
      }
    }
  }
}

.ChatBubble {
  font-size: 14px;
  display: flex;
  align-items: flex-start;

  .avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  &.user {
    margin-left: 20px;
    flex-direction: row-reverse;

    .avatar {
      display: none;
    }

    .text {
      background-color: var(--color-primary, #252dd0);
      color: white;
      border-radius: 10px 10px 0 10px;
    }

    .img {
      border-radius: 10px 10px 0 10px;
    }

  }

  &.bot {
    margin-right: 20px;

    .text {
      background-color: var(--color-primary-light, #f6f5fe);
      border-radius: 0 10px 10px 10px;
    }

    .img {
      border-radius: 0 10px 10px 10px;
    }
  }

  .img {
    max-width: 300px;
    max-height: 300px;
  }

  &.hideAvatar {

  }

  .text {
    text-align: left;
    border-radius: 10px;
    padding: 10px 15px;
    word-break: break-all;
  }
}
